.container {
  display: block;
  margin: 5vw;
}

.filters {
  display: flex;
  flex-flow: row wrap;
  gap: 3em;
}

.filters .filters-item {
  min-width: 14em;
  min-height: 2.71428571em;
  flex-grow: 0;
}

.filters .dynamic-width {
  flex-grow: 2;
}

.clearButton {
  float: right;
}

@media all and (max-width: 1010px) {
  .filterList {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }

  .clearButton {
    width: 100%;
  }
}
